body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
}

a {
    cursor: pointer !important;
}

p, h3 {
    margin: 5px 0;
}

.flex {
    display: flex !important;
    justify-content: space-between !important;
}

.align-right {
    text-align: right !important;
}

.small-text {
    font-size: 12px !important;
}

.blue {
    color: #016cd4 !important;
}

.white {
    color: #ffffff !important;
}

.gray {
    color: #8a8a8a !important;
}

.back_green {
    background-color: #57981e !important;
}

.userway {
    font-family: Arial, sans-serif;
    line-height: 1.15;
    border: solid 1px #ddd;
    border-radius: 8px;
    box-shadow: 0 0 50px #ccc;
    background: #fff
}

.userway .userway_header {
    background-color: #016cd4;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative
}

.userway .userway_header .userway_back_icon {
    width: 12px;
    margin-right: 5px;
}

.userway .userway_header .userway_close_icon {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #fff;
    font-size: 32px;
    opacity: .85;
    cursor: pointer;
    padding: 5px
}

.userway .userway_middle {
    padding: 10px 5%;
}

.userway .userway_middle div.flex {
    margin-top: 10px;
}

.userway .userway_middle div.flex > div {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    min-width: 50%;
    font-size: 13px !important;
    font-weight: 500;
    color: #444;
    background: #fff;
    display: inline-block;
    border: solid 1px #ddd;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: .1s
}

.userway .userway_middle div.flex.userway_bank_card input {
    border: none;
}

.userway .userway_middle div.flex.userway_bank_card .userway_expiration input {
    width: 30px;
}

.userway .userway_middle div.flex.userway_bank_card .userway_expiration input::placeholder {
    font-weight: bold;
}

.userway .userway_middle .userway_grid .userway_payment img {
    height: 50px;
    margin-right: 5px;
}

.userway .userway_middle .userway_back_btn {
    border: 1px solid #000;
    color: #016cd4;
}

.userway .userway_footer {
    margin-top: 30px;
}

.userway .userway_footer a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 12px;
}

.userway .userway_footer .userway_right {
    float: right;
    text-align: right;
    font-size: 11px !important
}

.userway .userway_footer .userway_right .userway_logo {
    width: 90px
}

.userway .userway_footer .userway_right .userway_poweredby {
    font-size: 11px !important;
    color: #444 !important;
    display: block
}

.userway_middle button {
    cursor: pointer;
    float: right;
    color: #fff;
    padding: 10px 18px 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    width: 80%;
    margin: 0 5% 0 0;
}

.userway_middle button:active,
.userway_middle button:focus,
.userway_middle button:hover {
    background: #002a48 !important;
    color: white !important;
}
